.hasError {
    color: var(--error-primary);
    border-color: var(--error-primary);

    & .input {
        color: var(--error-primary);
    }

    & .input::placeholder {
        color: var();
        -webkit-text-fill-color: var(--error-primary);
    }
}

.formControl {
    margin: 5px;
    padding: 10px;
}

.checkboxContainer {
    padding: 10px 16px;
}

.formControlCheckbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.formControlSlider {
    margin: 0 5px;
    padding: 0 10px;
}

.formControlMain {
    max-width: 100%;
    margin: 10px;
    padding: 50px 150px;
    border: 2px solid var(--nepal);
    box-shadow: 0 0 5px rgba(0 0 0 / 10%);
}

.noWrap {
    margin-right: 50px;
    white-space: nowrap;
}

.formLabel {
    color: var(--steel-gray);
}

.requiredField {
    color: var(--azure);
}
