@import url("../../../../assets/css/styles.scss");

/* stylelint-disable selector-pseudo-class-no-unknown */

.chip {
    gap: 6px;
    width: auto;
    height: 23px;
    margin-right: 9px;
    margin-bottom: 5px;
    color: var(--text-color-primary);
    background-color: var(--tag-main);
    border-radius: 5px;

    :global(.MuiChip-deleteIcon) {
        width: 13px;
        height: 13px;
        color: var(--text-color-primary);
    }
}

.chip span {
    padding: 5px 6px;
    font-size: var(--font-size-input);
}

.delete-chip {
    margin-right: 4px;
}
