.google-button {
    max-width: 420px;
    padding: 14px 0;
    color: black;
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-body);
    font-family: var(--font-family);
    line-height: var(--line-height-main);
    text-transform: unset;
    border: 1px solid var(--outline);
    outline-color: var(--outline);
}
