@import url("../../../../assets/css/styles.scss");

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 16px 0;
}

.label {
    color: var(--text, #1f1e29);
    font-weight: 500;
    font-size: 13px;
    line-height: normal;
}

.labelDisabled {
    color: var(--input, #d5dce8);
}

.root {
    height: 36px;
    font-size: 13px;
    background: var(--colors-white, #ffffff);
    border: none;

    & fieldset {
        border: none;
    }
}

.helperText {
    margin: 0 14px;
    font-size: 10px;
}

.inputWrapper {
    min-height: 36px;
    padding-left: 0;
    overflow: hidden;
    border: 1px solid var(--bt-input);

    &:hover {
        border-color: var(--hover);
    }

    &:focus-within {
        border-color: var(--hover);
    }
}

.input {
    width: 100%;
    height: 16px;
    padding: 10px 14px;
    color: #1f1e29;
    font-size: 13px;
    border: none;

    &::placeholder {
        color: var(--bt-blue-gray);
        -webkit-text-fill-color: var(--bt-blue-gray);
    }
}

.inputPaddingSearch {
    padding: 10px 14px 10px 5px;
}

.inputPaddingTextAdornsment {
    padding: 11px 14px 11px 10px;
}

.inputDisabled {
    pointer-events: none;
    background-color: var(--light-background-color);
}

.hasError {
    color: red !important; /* stylelint-disable-line declaration-no-important */
    border-color: red;

    & .input {
        color: red;
    }

    & .input::placeholder {
        color: red;
        -webkit-text-fill-color: red;
    }
}

.adornmentIcon {
    height: 24px;
    margin: 7px 0 7px 9px;
    color: var(--hover);
}

.MuiInputAdornment-root {
    height: 36px;
    max-height: 36px;
    margin-right: 0;
    font-size: 13px;
}

.adornmentText p {
    margin: 0;
    padding: 8px 10px;
    color: #90a3bf;
    font-size: 13px;
    background-color: #f7f8fc;
    border-right: 1px solid #d5dce8;
}
