.container {
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 60px);
    padding: 20px;
    background-color: var(--steel-gray);
}

.sellingPoint {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 34px;

    & .text {
        display: none;
        color: var(--white);
        font-weight: var(--font-weight-bold);
        font-size: 32px;
        font-family: var(--font-family);
        line-height: var(--line-height-main);
    }

    & .logo {
        display: inline-block;
        width: 75px;
        margin-right: auto;
        background-color: #ffd231;
        border-radius: 7px;
        aspect-ratio: 1/1;
    }
}

.formWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: var(--white);
    border-radius: 12px;
}

.wrapper {
    width: 100%;
    max-width: 420px;
    margin: auto;
    padding-right: 27px;
    padding-left: 27px;
}

.animatedTextWrapper {
    position: relative;
    display: none;
    width: 550px;
    height: 50px;
    overflow: hidden;
    animation: shrink-expand 5s ease-in-out infinite;
}

.message {
    position: absolute;
    bottom: 0;
    display: block;
    padding-left: 8px;
    overflow: hidden;
    color: #333333;
    font-weight: 900;
    white-space: nowrap;
    animation: openclose 5s ease-in-out infinite;
}

.messageOne {
    margin-bottom: 10px;
}

@media screen and (width >= 900px) {
    .sellingPoint {
        display: flex;
        gap: 27px;

        .text {
            display: block;
        }
    }

    .container {
        flex-direction: row;
        padding: 40px;
    }

    .animatedTextWrapper {
        display: block;
    }
}

@keyframes openclose {
    0% {
        bottom: 0;
        width: 0%;
    }

    25% {
        width: 100%;
    }

    50% {
        bottom: 0;
        width: 0%;
    }

    51% {
        bottom: -50px;
        width: 0%;
    }

    75% {
        width: 100%;
    }

    100% {
        bottom: -50px;
        width: 0%;
    }
}

@keyframes shrink-expand {
    50% {
        height: 50px;
    }

    51% {
        height: 100px;
    }

    75% {
        height: 100px;
    }

    99% {
        height: 100px;
    }

    100% {
        height: 50px;
    }
}
