.label {
    :global(.MuiFormLabel-asterisk) {
        visibility: hidden;
    }

    :global(.MuiFormLabel-asterisk)::before {
        color: var(--st-tropaz);
        visibility: visible;
        content: "*";
    }
}
