.container {
    width: 100%;
    font-size: var(--font-size-base);
    font-family: var(--font-family);

    & svg {
        margin-right: 7px;
        color: var(--st-tropaz);
    }
}

.container .input {
    height: 38px;
    padding: 10px 7px 10px 14px;
    color: var(--steel-gray);
    font-weight: var(--font-weight-regular);
    border: 1px solid var(--botticelli);
    border-radius: 4px;
    transition:
        border-color 0.3s,
        box-shadow 0.3s;
}

.placeholder {
    color: var(--nepal);
}

.option {
    color: var(--steel-gray);
    font-weight: var(--font-weight-regular);
}

.container .container div[aria-expanded="true"] ~ .icon {
    transform: rotate(180deg);
}

.container .input::before,
.container .input::after {
    display: none;
}

.container div:focus {
    background-color: transparent;
}

.container .input:hover {
    border-color: var(--botticelli);
}

.input div:first-child {
    padding: 4px;
}
