.formControl {
    gap: 8px;
}

.label {
    color: var(--text-primary-dark);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-base);
    line-height: var(--line-height-main);
}

.uploadPhotoBtn {
    width: 125px;
    height: 36px;
    color: var(--background-secondary);
    font-size: 13px;
    line-height: 1.21;
    text-transform: none;
    border-color: var(--background-secondary);
}

.uploadCVBtn {
    width: 329px;
    height: 38px;
    color: var(--background-secondary);
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-base);
    line-height: var(--line-height-main);
    text-transform: none;
    border-color: var(--background-secondary);
}

.btnError {
    color: var(--error-primary);
    border-color: var(--error-primary);

    &:hover,
    &:focus {
        color: var(--error-primary);
        border-color: var(--error-primary);
    }
}

.photoError {
    max-width: 122px;
}
