.container {
    flex-flow: row nowrap;
    max-width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--white);
}

.link {
    all: unset;
}

.data {
    border: 1px solid indigo;
}

.preview {
    width: 100%;
    border: 1px solid red;
}

.iframe {
    width: 100%;
    padding: 1px;

    // height: '100%',
    border-radius: 5px;
    aspect-ratio: 1/1;
}
