.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: clamp(10px, 5vh, 40px) clamp(10px, 10vw, 120px);
}

.radioGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttonWrapper {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button {
    min-width: 100px;
    font-weight: 500;
    font-size: 13px;
    text-transform: capitalize;
}
