ul {
    padding: 0;
    list-style-type: none;
}

.profileWrapper {
    display: flex;
    max-width: 1280px;
    margin: 30px 35px 25px 50px;
    background-color: var(--white);
    border: 1px solid var(--botticelli);
    border-radius: 8px;
}

.profileCardWrapper {
    max-width: 833px;
}

.contactButton {
    width: 100%;
    max-width: 324px;
    height: 45px;
    margin-bottom: 85px;
    margin-left: 50px;
    text-transform: none;
    background-color: var(--background-secondary);
}

.accountReadyButton {
    width: 325px;
    height: 54px;
    color: var(--text-primary-dark);
    text-transform: none;
    background-color: var(--solitude);
}

@media screen and (width <= 1300px) {
    .profileWrapper {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media screen and (width <= 610px) {
    .profileWrapper {
        width: 190px;
        margin: 0 auto;
        border: none;
    }

    .accountReadyButton {
        width: 190px;
    }

    .contactButton {
        display: none;
    }
}
