.pageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 0 50px 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 26px;
    max-width: 600px;
    padding: 40px;
    background-color: var(--white);
    border: 1px solid var(--botticelli);
    border-radius: 8px;
}

.headNavigation {
    position: sticky;
    top: -1px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px 0;
    background-color: var(--white-lilac);
}

.tabNavigation {
    display: flex;
    justify-content: center;
}

.saveButton {
    width: 104px;
    height: 36px;
    font-weight: 500;
    font-size: 13px;
    text-transform: capitalize;
    background-color: var(--background-secondary);

    &:hover {
        background-color: var(--hover-primary);
    }
}

.stepContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

@media screen and (width <=1000px) {
    .pageWrapper {
        padding: 10px;
    }

    .headNavigation {
        padding: 10px;
    }

    .tabNavigation {
        justify-content: flex-start;
    }
}
