.chatListContainer {
    max-width: 349px;
    padding: 10px 0;
    overflow: hidden;
}

.chatList {
    height: calc(100% - 48px); /* minus search bar height */
    margin: 0;
    padding: 0 16px;
    overflow: hidden auto;
    list-style: none;
}

.chatList::-webkit-scrollbar {
    width: 2px;
    background-color: var(--solitude);
}

.chatList::-webkit-scrollbar-thumb {
    background-color: var(--st-tropaz);
    border-radius: 10px;
}
