.wrapper {
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--sidebar-width);
    min-height: 100vh;
    padding-top: 15px;
    background-color: var(--text-primary-dark);
}

.logo {
    display: block;
    width: 44px;
    height: 44px;
    margin-bottom: 20px;
    background: var(--sunglow);
    border-radius: 7px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    width: 100%;
    padding: 0;
    font-size: 11px;
    list-style: none;
}

a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--slate-gray);
    text-decoration: none;

    .title {
        margin: 0 auto;
        font-weight: var(--font-weight-semi-bold);
    }

    &[aria-current="page"] {
        color: var(--white);
    }
}
