.btnLogin {
    margin-top: 15px;
}

.radioWrapper {
    width: 100%;
}

.hasError.radioWrapper {
    margin-top: 0;
}

.radioGroup {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 5%;
}

@media screen and (width >= 900px) {
    .radioGroup {
        justify-content: center;
    }
}

.checkboxWrapper {
    width: 100%;

    :global(.MuiFormControlLabel-root.MuiFormControlLabel-labelPlacementEnd) {
        margin-left: -9px;
    }
}

.termsLabel {
    display: flex;
    width: 100%;
    margin-left: 0;

    .bsaTermsLinkWrapper {
        margin: 0 5px;
    }

    .bsaTermsLink {
        color: var(--azure);
        text-decoration: underline;
    }
}
