.btn-login {
    margin-top: 15px;
}

.radio-wrapper {
    width: 100%;
    margin-top: 10px;
}

.radio-group {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 5%;
}

@media screen and (width >= 900px) {
    .radio-group {
        justify-content: center;
    }
}

.checkboxWrapper {
    width: 100%;

    label {
        margin-left: -9px;
    }
}

.termsLabel {
    display: flex;
    width: 100%;
    margin-left: 0;

    span {
        margin: 0 5px;
    }

    span a {
        color: var(--azure);
        text-decoration: underline;
    }
}

.termsErrorText {
    position: absolute;
    top: 30px;
    display: none;
    margin-top: 5px;
    margin-bottom: 14px;
    color: var(--error-primary);
    font-size: var(--font-size-caption);
    -webkit-text-fill-color: var(--error-primary);

    &.rejected {
        display: block;
    }
}
