:root {
    --bt-blue-gray: #90a3bf;
    --bt-input: #d5dce8;
    --hover: #274f8d;
    --light-background-color: #f7f8fc;
    --hover-background-color: #f7f8fc;
    --disabled-background-color: #90a3bf;
    --hover-ripple-color: #2e61ae65;
    --shadow-color: rgb(16 22 26 / 20%);
    --checked-background-color: #274f8d;
    --checked-inner-background-color: #f7f8fc;
    --checkbox-border: #d5dce8;
    --checkbox-disabled: #f7f8fc;
    --checkbox-checked: #274f8d;
    --checkbox-disabled-checked: #d5dce8;
}
