:root {
    --bt-blue-gray: #90a3bf;
    --bt-input: #d5dce8;
    --hover: #274f8d;
    --checkbox-border: #d5dce8;
    --checkbox-disabled: #f7f8fc;
    --checkbox-checked: #274f8d;
    --checkbox-disabled-checked: #d5dce8;
}
