:root {
    --light-background-color: #f7f8fc;
    --hover-background-color: #f7f8fc;
    --disabled-background-color: #90a3bf;
    --hover-ripple-color: #2e61ae65;
    --shadow-color: rgb(16 22 26 / 20%);
    --checked-background-color: #274f8d;
    --checked-inner-background-color: #f7f8fc;
}
